RewriteEngine On

# Část localhostu
<If "%{HTTP_HOST} != 'localhost'">
   # API pro válečníky
RewriteRule /Restapi/v1/warriors/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$ /Restapi/v1/warriors.php?id_world=$1&name=$2&desc=$3&attack=$4&defense=$5&agility=$6&health=$7
RewriteRule /Restapi/v1/warriors/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$ /Restapi/v1/warriors.php?id_world=$1&name=$2&attack=$3&defense=$4&agility=$5&health=$6 
RewriteRule /Restapi/v1/warriors/(.*)/(.*)$ /Restapi/v1/warriors.php?id_world=$1&id_warrior=$2 
RewriteRule /Restapi/v1/warriors/(.*)$ /Restapi/v1/warriors.php?id=$1 

   # API pro svět
RewriteRule /Restapi/v1/worlds/(.*)/(.*)/(.*)$ /Restapi/v1/worlds.php?id_world=$1&name=$2&desc=$3 
RewriteRule /Restapi/v1/worlds/(.*)/(.*)$ /Restapi/v1/worlds.php?name=$1&desc=$2 
RewriteRule /Restapi/v1/worlds$ /Restapi/v1/worlds.php 

   # Api pro permisse
RewriteRule /Restapi/v1/permissions/(.*)/(.*)$ /Restapi/v1/permissions.php?id_world=$1&username=$2 

# Api pro správu uživatelů
RewriteRule /Restapi/v1/users/(.*)/(.*)/(.*)/(.*)$ /Restapi/v1/users.php?id=$1&username=$2&email=$3&password=$4
RewriteRule /Restapi/v1/users/(.*)/(.*)/(.*)$ /Restapi/v1/users.php?id=$1&username=$2&email=$3
</If>
   # Část produkce
<Else> 
   # API pro válečníky
RewriteRule /Omega/Restapi/v1/warriors/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$ /Omega/Restapi/v1/warriors.php?id_world=$1&name=$2&desc=$3&attack=$4&defense=$5&agility=$6&health=$7
RewriteRule /Omega/Restapi/v1/warriors/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$ /Omega/Restapi/v1/warriors.php?id_world=$1&name=$2&attack=$3&defense=$4&agility=$5&health=$6 
RewriteRule /Omega/Restapi/v1/warriors/(.*)/(.*)$ /Omega/Restapi/v1/warriors.php?id_world=$1&id_warrior=$2 
RewriteRule /Omega/Restapi/v1/warriors/(.*)$ /Omega/Restapi/v1/warriors.php?id=$1 

   # API pro svět
RewriteRule /Omega/Restapi/v1/worlds/(.*)/(.*)/(.*)$ /Omega/Restapi/v1/worlds.php?id_world=$1&name=$2&desc=$3 
RewriteRule /Omega/Restapi/v1/worlds/(.*)/(.*)$ /Omega/Restapi/v1/worlds.php?name=$1&desc=$2 
RewriteRule /Omega/Restapi/v1/worlds/(.*)$ /Omega/Restapi/v1/worlds.php?id=$1;
RewriteRule /Omega/Restapi/v1/worlds$ /Omega/Restapi/v1/worlds.php 

   # Api pro permisse
RewriteRule /Omega/Restapi/v1/permissions/(.*)/(.*)$ /Omega/Restapi/v1/permissions.php?id_world=$1&username=$2 

   # Api pro správu uživatelů
RewriteRule /Omega/Restapi/v1/users/(.*)/(.*)/(.*)/(.*)$ /Omega/Restapi/v1/users.php?id=$1&username=$2&email=$3&password=$4
RewriteCond %{REQUEST_METHOD} PUT
RewriteRule /Omega/Restapi/v1/users/(.*)/(.*)/(.*)$ /Omega/Restapi/v1/users.php?id=$1&username=$2&email=$3
RewriteRule /Omega/Restapi/v1/users/(.*)/(.*)/(.*)$ /Omega/Restapi/v1/users.php?username=$1&email=$2&password=$3
  </Else>
