.main-color {
   color: #012970;
}
.navbar {
   position: fixed !important;
   height: 70px;
   width: 100%;
   z-index: 2;
}
.card {
   box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
}
.sidebar {
   position: fixed;
   top: 70px;
   height: 100%;
   width: 300px;
   padding: 20px;
   box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
   scrollbar-color: #8c94a4;
   transition: all 0.3s;
   overflow-y: auto;
   background-color: #fff;

   ul {
      list-style-type: none;

      li {
         a {
            span {
               padding-left: 1rem;
               color: #2d2d2d;
               font-weight: 600;
            }
         }
      }
   }
}

.bi {
   color: #2d2d2d;
   font-size: 20px;
}
.nav-link {
   display: flex;
}
.ham-menu {
   font-size: 32px;
}
.wall_main {
   margin-left: 300px;
}
.sidebar-item {
   cursor: pointer;
}

.body-add-world {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 10rem;
}

.container-worlds {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-items: center;
}
.wall-header {
   padding-top: 1rem;
   padding-bottom: 1rem;
}
.send-feedback {
   cursor: pointer;
}

.single-world-link {
   width: 100%;
   height: 100%;
   color: #2d2d2d;
   text-decoration: none;
}
.new-world-href {
   color: transparent !important;
}
